<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodMeld</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="form-card">
        <form method="post">
            <div class="div-label"> 
                <label for="message">Please write any message...</label>
            </div>
            <div>
                <textarea name="message" rows="15" cols="50" placeholder="write something here"></textarea>
            </div>
            <div class="submit-btn">
                <input type="submit" value="Check The Mood">
            </div>
        </form>
    </div>
    <script src="../static/script/script.js"></script>
</body>

</html>